# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# Bundle artifacts
*.jsbundle

# Signing files
*.jks
*.keystore
local.properties

# Credentials
google-services.json
service-account.json
